@use "./Variables.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $poppins;
}

.content-under-nav {
  margin-top: 64px;
}

// ====== LOGIN NAV TESTING CLASSES ======
#auth-nav-background {
  background-color: $white;
  box-shadow: none;
}

#logout-button {
  transition: all 0.3s ease-in-out;
}

#logout-button:hover {
  background-color: $hovercolor;
}

.drawer-item {
  text-align: left;
  margin-left: 65px;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}
