@use "./Variables.scss" as *;

.dash-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  margin-top: 64px;
}

.sub-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 5rem 1rem 5rem;
  border-bottom: 1px solid $gray;
}

#button-modal {
  color: $white;
  background-color: $black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-transform: none;
  padding: 0.4rem 2rem;
  transition: all 0.3s ease-in-out;
}

#button-modal:hover {
  background-color: $hovercolor;
  transform: translateY(-2px);
}

.loadingLine {
  color: $black;
}

.button-menu {
  color: $slategray;
  background-color: $white;
  border: none;
  cursor: pointer;
  text-transform: none;
  padding: 0.4rem 2rem;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

.button-menu:hover {
  background-color: $whitesmoke;
}

#activeButton {
  color: $black;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid $black;
}

.modal-close-icon {
  display: flex;
  justify-content: right;
}

.add-input-flex {
  display: flex;
  flex-direction: column;

  & input {
    margin: 10px;
    padding: 5px;
    @include input-borders;
  }
}

.component-toggle {
  display: flex;
  justify-content: center;
}

.cancel-message {
  @include flex;
  flex-direction: column;
  text-align: left;
  max-width: 30rem;
  gap: 30px;
  margin: 1rem;
  margin-top: 64px;
}

textarea {
  margin: 10px;
  @include input-borders;
  padding: 5px;
}

#cancel-box {
  background-color: $whitesmoke;
}

.submit-email {
  @include flex;
  margin-top: 10px;
}

.submit-inputs-button {
  color: $white;
  background-color: $black;
  border: none;
  border-radius: 30px;
  text-transform: none;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submit-inputs-button:hover {
  background-color: $hovercolor;
  transform: translateY(-2px);
}

#add-email-button {
  transition: all 0.3s ease-in-out;
}

#add-email-button:hover {
  transform: translateY(-2px);
}

.table-flex {
  @include flex;
  margin-bottom: 100px;
}

table {
  flex-direction: column;
  margin: 1rem;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid $gray;
  border-radius: 10px;
  width: 60rem;

  th {
    font-weight: 400;
    font-size: 17px;
    color: $slategray;
    border-bottom: 1px solid $gray;
    text-align: left;
    padding: 1rem;
  }

  thead tr:nth-last-child(-n + 1) {
    color: $black;
  }

  td {
    border-bottom: 1px solid $gray;
    padding: 1rem;
    font-size: 15px;
    max-width: 15rem;
  }

  tr:nth-last-child(-n + 1) {
    td {
      border-bottom: none;
    }
  }
}

#basic-button {
  color: $black;
}

#basic-button:hover {
  background-color: $whitesmoke;
}

// Media Queries
@media screen and (max-width: 1000px) {
  .table-flex {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .table-flex {
    max-width: 400px;
  }

  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr + tr {
    margin-top: 1.5em;
  }

  td {
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }

  table {
    border: none;
    margin-bottom: 150px;
  }

  table td {
    max-width: 100%;
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
  }

  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    white-space: nowrap;
    margin-right: 40%;
    color: $slategray;
  }

  table tr:nth-last-child(-n + 1) td {
    border-bottom: 1px solid $gray;
  }

  table td:nth-child(4n) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  table td:nth-child(1) {
    border-top: 1px solid $gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  table td {
    display: flex;
  }

  table td:before {
    display: block;
    margin-right: 0;
    width: 40%;
  }

  table td div {
    display: block;
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  .sub-nav {
    flex-direction: column;
    align-items: inherit;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    & input:nth-child(1) {
      border: 1px solid $gray;
      border-bottom: 1px solid $gray;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    & input:nth-child(2) {
      border-left: 1px solid $gray;
      border-right: 1px solid $gray;
      border-bottom: 1px solid $gray;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    .button-menu:nth-child(2):hover {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    & #activeButton {
      border-bottom: 1px solid $gray;
      background-color: $whitesmoke;
    }
  }
}

@media screen and (max-width: 550px) {
  .cancel-message {
    max-width: 20rem;
    margin-bottom: 175px;
  }

  #cancel-box {
    max-width: 20rem;
  }
}

@media screen and (max-width: 490px) {
  .button-menu {
    font-size: 12px;
    padding: 0.4rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  table td:before {
    width: 40%;
  }

  table td div {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .dash-add {
    & h1 {
      font-size: 25px;
    }
  }
}
