@use "./Variables.scss" as *;

.dash-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

#add-button-modal {
  color: $white;
  background-color: $black;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-transform: none;
  padding: 0.4rem 2rem;
  transition: all 0.3s ease-in-out;
}

#add-button-modal:hover {
  background-color: $hovercolor;
}

.modal-close-icon {
  display: flex;
  justify-content: right;
}

.add-input-flex {
  display: flex;
  flex-direction: column;

  & input {
    margin: 10px;
    padding: 5px;
    @include input-borders;
  }
}

textarea {
  margin: 10px;
  @include input-borders;
  padding: 5px;
}

.submit-email {
  @include flex;
  margin-top: 10px;
}

.submit-inputs-button {
  color: $white;
  background-color: $black;
  border: none;
  border-radius: 30px;
  text-transform: none;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submit-inputs-button:hover {
  background-color: $hovercolor;
}

.table-flex {
  @include flex;
}

table {
  flex-direction: column;
  margin: 1rem;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid $gray;
  border-radius: 10px;
  width: 60rem;

  th {
    font-weight: 400;
    font-size: 17px;
    color: $slategray;
    border-bottom: 1px solid $gray;
    text-align: left;
    padding: 1rem;
  }

  thead tr:nth-last-child(-n + 1) {
    color: $black;
  }

  td {
    border-bottom: 1px solid $gray;
    padding: 1rem;
    font-size: 15px;
    max-width: 15rem;
  }

  tr:nth-last-child(-n + 1) {
    td {
      border-bottom: none;
    }
  }
}

#basic-button {
  color: $black;
}

#basic-button:hover {
  background-color: $whitesmoke;
}
