@use "./Variables.scss" as *;

footer {
  width: 100vw;
  background-color: $white;
  color: #262322;
  position: absolute;
  bottom: 0;
  left: 0;
}

#nav-branding a {
  background-color: $white;
  color: #262322;
}

.brand {
  width: 100vw;
  height: 40px;
  background-color: $white;
  color: #262322;
  display: flex;
  justify-content: center;
}

.copyright {
  background-color: $white;
  color: #262322;
  display: flex;
  justify-content: space-between;
}

#copy {
  margin-left: 10px;
}

.flex-terms {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.flex-terms a {
  text-decoration: none;
  background-color: $white;
  color: #262322;
}

.flex-terms a:hover {
  text-decoration: underline;
}

.brand a {
  text-decoration: none;
  color: $white;
  transition: 0.3s ease;
}

.brand a:hover {
  color: $white;
}

#forms-footer-brand {
  margin: 0;
}

svg {
  width: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

svg:hover {
  transform: scale(1.1);
}

.brand svg {
  width: 25px;
  height: 30px;
  margin-right: 10px;
}

.copyright a {
  text-decoration: none;
}

.glyphs {
  margin-right: 60px;
}
