@use "./Variables.scss" as *;

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.settings-icon {
  padding: 2px;
  margin-left: 5px;
}

#auth-nav-background {
  background-color: $white;
  box-shadow: none;
}
#basic-button {
  transition: all 0.3s ease-in-out;
}

#basic-button:hover {
  transform: translateY(-2px);
}

#dashboard-button {
  transition: all 0.3s ease-in-out;
}

#dashboard-button:hover {
  transform: translateY(-2px);
}

#logout-button {
  transition: all 0.3s ease-in-out;
}

#logout-button:hover {
  background-color: $hovercolor;
  transform: translateY(-2px);
}

#login-button {
  transition: all 0.3s ease-in-out;
}

#login-button:hover {
  transform: translateY(-2px);
}

.drawer-item {
  text-align: left;
  margin-left: 65px;
}

@media screen and (max-width: 600px) {
  #basic-button:hover {
    transform: none;
  }
}
