@use "./Variables.scss" as *;

a {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: 400;
}

.settings-icon {
  padding: 2px;
  margin-left: 5px;
}

#auth-nav-background {
  background-color: $white;
  box-shadow: none;
}

#logout-button {
  transition: all 0.3s ease-in-out;
}

#logout-button:hover {
  background-color: $hovercolor;
}

.drawer-item {
  text-align: left;
  margin-left: 65px;
}
