@use "./Variables.scss" as *;

.css-1t6c9ts {
  justify-content: right;
  align-items: center;
}

#nav-background {
  background-color: $white;
  box-shadow: none;
}

#hamburger {
  color: $black;
}

a:-webkit-any-link {
  color: $black;
  cursor: pointer;
  text-decoration: none;
}

.logo {
  font-size: 30px;
}

.settings-icon {
  padding: 5px;
  margin-left: 5px;
}
