@use "./Variables.scss" as *;

.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.signup-container {
  width: 40vw;
  height: 100vh;
  display: flex;
  //   justify-content: center;
  //   align-items: center;
  flex-direction: column;
}

.protectly-container {
  //   display: flex;
  //   justify-content: left;
  & h1 {
    font-weight: 400;
    margin: 10px 0 30px 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.25rem;
  margin-top: 12rem;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
}

.login-link-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 95%;
    height: 95%;
    border-radius: 30px;
    object-fit: cover;
  }
}

form {
  display: flex;
  justify-content: left;
  flex-direction: column;

  & input {
    @include input-borders;
    margin: 10px;
    // margin-left: 0;
    padding: 5px;
  }

  & p a {
    text-decoration: underline;
  }

  & p {
    text-align: center;
  }

  & li {
    margin: 1rem;
  }

  & li:nth-child(1) {
    font-weight: 600;
  }
}

.form-button {
  border: 2px solid $black;
  border-radius: 30px;
  background-color: $black;
  color: $white;
  cursor: pointer;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
}

.form-button:hover {
  background-color: $hovercolor;
}

#calendly-button {
  background: $white;
  border: 2px solid $black;
  color: $black;
}
