@use "./Variables.scss" as *;

.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.signup-container {
  width: 40vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.login-link-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-image {
  background-color: $slategray;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: left;
  flex-direction: column;

  & input {
    @include input-borders;
    margin: 10px;
    margin-left: 0;
    padding: 5px;
  }
}
