@use "./Variables.scss" as *;

.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.signup-container {
  width: 40vw;
  height: 100vh;
}

.protectly-container {
  & h1 {
    font-weight: 400;
    margin: 10px 0 30px 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 12rem 6.25rem 12rem;

  & p {
    margin-top: 5px;
  }

  & a {
    text-decoration: underline;
  }
}

.login-link-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 95%;
    height: 86%;
    border-radius: 30px;
    object-fit: cover;
    margin-bottom: 70px;
  }
}

li:nth-child(1) {
  font-weight: 600;
}

.form-button {
  border: 2px solid $black;
  border-radius: 30px;
  background-color: $black;
  color: $white;
  cursor: pointer;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  width: 100%;
  margin-top: 10px;
}

.form-button:hover {
  background-color: $hovercolor;
}

// Media Queries
@media screen and (max-width: 1700px) {
  .form-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 1436px) {
  .form-container {
    margin-left: 6rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .form-container {
    margin-left: 4rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  .signup-container {
    width: 100vw;
  }

  .login-link-container {
    width: 100vw;
    flex-direction: column;
  }

  .form-container {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  .layout-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    margin-left: 9rem;
    margin-right: 9rem;
  }
}

@media screen and (max-width: 580px) {
  .form-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media screen and (max-width: 480px) {
  .form-container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

@media screen and (max-width: 400px) {
}
