/* components/styles/App.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  min-height: 100vh;
  height: 100%;
}
.landing-section-one {
  margin-top: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f5f7;
  border-radius: 20px;
  padding: 20px;
}
.heading-container {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 30rem;
}
.heading-container h1 {
  font-weight: 400;
  font-size: 40px;
}
.heading-container h3 {
  font-weight: 200;
  margin: 10px;
  margin-left: 0;
}
.get-started-link {
  background-color: #221f1f;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  width: 10rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.get-started-link:hover {
  background-color: #3b3b3b;
}
.landing-section-two {
  margin-top: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-radius: 20px;
  padding: 4rem;
}
.landing-section-two h1 {
  margin: 20px;
  font-weight: 400;
  font-size: 40px;
}
.landing-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 24.5rem;
  height: 18rem;
  background-color: #fff;
  margin: 20px;
  border-radius: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease-in-out;
}
.card h3 {
  font-size: 25px;
  font-weight: 600;
}
.card p {
  font-size: 18px;
}
.card:hover {
  transform: translateY(-10px);
}
.landing-section-three {
  margin-top: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f3f5f7;
  border-radius: 20px;
  padding: 20px;
}
.landing-section-three h1 {
  margin: 20px;
  font-weight: 400;
  font-size: 40px;
}
.landing-section-three img {
  width: 400px;
  height: 400px;
  margin-right: 60px;
  margin-left: 60px;
}
.why-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.why-text-container span {
  font-weight: 700;
}
.why-text-container p {
  font-size: 18px;
  margin: 20px;
  max-width: 50rem;
}
.landing-section-four {
  margin-top: 100px;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  border-radius: 20px;
  padding: 20px;
}
.landing-section-four img {
  background-color: #f3f5f7;
  border-radius: 20px;
  padding: 20px;
  width: 400px;
  height: 400px;
}
.landing-section-four h1 {
  margin: 20px;
  font-weight: 400;
  font-size: 40px;
}
@media screen and (max-width: 2000px) {
  .landing-section-one {
    margin-top: 200px;
  }
}
@media screen and (max-width: 1500px) {
  .landing-section-one {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1300px) {
  .landing-section-two {
    display: block;
    height: auto;
  }
  .landing-section-two h1 {
    text-align: center;
  }
  .landing-cards {
    flex-direction: column;
  }
}
@media screen and (max-width: 1220px) {
  .landing-section-three img {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .landing-section-one img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .landing-section-one {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .landing-section-one h3 {
    font-size: 15px;
  }
  .landing-section-two {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .landing-section-two h1 {
    margin: 0;
  }
  .landing-section-three {
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 20px;
  }
  .landing-section-four {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .landing-section-four h1 {
    margin: 0;
    text-align: center;
  }
  .landing-section-four img {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .landing-section-one {
    text-align: center;
  }
  .landing-section-one h3 {
    font-size: 12px;
  }
  .heading-container {
    text-align: center;
    align-items: center;
  }
  .landing-section-two {
    padding: 0;
  }
  .landing-section-two .card {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }
  .landing-section-three h1 {
    text-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 400px) {
  .landing-section-one h1 {
    font-size: 30px;
  }
  .landing-section-three h1 {
    font-size: 30px;
  }
}

/* components/styles/Navbar.scss */
a {
  color: #221f1f;
  cursor: pointer;
  text-decoration: none;
}
.logo {
  font-size: 30px;
  font-weight: 400;
}
.settings-icon {
  padding: 2px;
  margin-left: 5px;
}
#auth-nav-background {
  background-color: #fff;
  box-shadow: none;
}
#logout-button {
  transition: all 0.3s ease-in-out;
}
#logout-button:hover {
  background-color: #3b3b3b;
}
.drawer-item {
  text-align: left;
  margin-left: 65px;
}

/* components/styles/Signup.scss */
.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}
.signup-container {
  width: 40vw;
  height: 100vh;
}
.protectly-container h1 {
  font-weight: 400;
  margin: 10px 0 30px 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 12rem 6.25rem 12rem;
}
.form-container p {
  margin-top: 5px;
}
.form-container a {
  text-decoration: underline;
}
.login-link-container {
  width: 60vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-link-container img {
  width: 95%;
  height: 86%;
  border-radius: 30px;
  object-fit: cover;
  margin-bottom: 70px;
}
li:nth-child(1) {
  font-weight: 600;
}
.form-button {
  border: 2px solid #221f1f;
  border-radius: 30px;
  background-color: #221f1f;
  color: #fff;
  cursor: pointer;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  width: 100%;
  margin-top: 10px;
}
.form-button:hover {
  background-color: #3b3b3b;
}
@media screen and (max-width: 1700px) {
  .form-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media screen and (max-width: 1436px) {
  .form-container {
    margin-left: 6rem;
    margin-right: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .form-container {
    margin-left: 4rem;
    margin-right: 3rem;
  }
}
@media screen and (max-width: 1000px) {
  .signup-container {
    width: 100vw;
  }
  .login-link-container {
    width: 100vw;
    flex-direction: column;
  }
  .form-container {
    margin-left: 12rem;
    margin-right: 12rem;
  }
  .layout-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .form-container {
    margin-left: 9rem;
    margin-right: 9rem;
  }
}
@media screen and (max-width: 580px) {
  .form-container {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media screen and (max-width: 480px) {
  .form-container {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/* components/styles/Footer.scss */
footer {
  width: 100vw;
  background-color: #fff;
  color: #262322;
  position: fixed;
  bottom: 0px;
  left: 0px;
}
#nav-branding a {
  background-color: #fff;
  color: #262322;
}
.brand {
  width: 100vw;
  height: 40px;
  background-color: #fff;
  color: #262322;
  display: flex;
  justify-content: center;
}
.copyright {
  background-color: #fff;
  color: #262322;
  display: flex;
  justify-content: space-between;
}
#copy {
  margin-left: 10px;
  font-size: 13px;
}
.flex-terms {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.flex-terms a {
  text-decoration: none;
  background-color: #fff;
  color: #262322;
}
.flex-terms a:hover {
  text-decoration: underline;
}
.brand a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease;
}
.brand a:hover {
  color: #fff;
}
#forms-footer-brand {
  margin: 0;
}
svg {
  width: 50px;
  height: 30px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
svg:hover {
  transform: scale(1.1);
}
.brand svg {
  width: 25px;
  height: 30px;
  margin-right: 10px;
}
.copyright a {
  text-decoration: none;
  font-size: 13px;
}
.glyphs {
  margin-right: 60px;
  margin-bottom: 10px;
}

/* components/styles/Dashboard.scss */
.dash-add {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  margin-top: 64px;
}
.sub-nav {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 1rem 5rem 1rem 5rem;
  border-bottom: 1px solid #e2e0e0;
}
#button-modal {
  color: #fff;
  background-color: #221f1f;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  text-transform: none;
  padding: 0.4rem 2rem;
  transition: all 0.3s ease-in-out;
}
#button-modal:hover {
  background-color: #3b3b3b;
}
.loadingLine {
  color: #221f1f;
}
.button-menu {
  color: #857e90;
  background-color: #fff;
  border: none;
  cursor: pointer;
  text-transform: none;
  padding: 0.4rem 2rem;
  transition: all 0.05s ease-in-out;
  font-size: 16px;
}
.button-menu:hover {
  background-color: #f3f5f7;
}
#activeButton {
  color: #221f1f;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  border-bottom: 1px solid #221f1f;
}
.modal-close-icon {
  display: flex;
  justify-content: right;
}
.add-input-flex {
  display: flex;
  flex-direction: column;
}
.add-input-flex input {
  margin: 10px;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #857e90;
}
.component-toggle {
  display: flex;
  justify-content: center;
}
.cancel-message {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 30rem;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin: 1rem;
  margin-top: 64px;
}
textarea {
  margin: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #857e90;
  padding: 5px;
}
#cancel-box {
  background-color: #f3f5f7;
}
.submit-email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.submit-inputs-button {
  color: #fff;
  background-color: #221f1f;
  border: none;
  border-radius: 30px;
  text-transform: none;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.submit-inputs-button:hover {
  background-color: #3b3b3b;
}
.table-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  flex-direction: column;
  margin: 1rem;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #e2e0e0;
  border-radius: 10px;
  width: 60rem;
}
table th {
  font-weight: 400;
  font-size: 17px;
  color: #857e90;
  border-bottom: 1px solid #e2e0e0;
  text-align: left;
  padding: 1rem;
}
table thead tr:nth-last-child(-n+1) {
  color: #221f1f;
}
table td {
  border-bottom: 1px solid #e2e0e0;
  padding: 1rem;
  font-size: 15px;
  max-width: 15rem;
}
table tr:nth-last-child(-n+1) td {
  border-bottom: none;
}
#basic-button {
  color: #221f1f;
}
#basic-button:hover {
  background-color: #f3f5f7;
}
@media screen and (max-width: 1000px) {
  .table-flex {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .table-flex {
    max-width: 400px;
  }
  td,
  tr {
    display: block;
  }
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr + tr {
    margin-top: 1.5em;
  }
  td {
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    text-align: left;
  }
  table {
    border: none;
    margin-bottom: 150px;
  }
  table td {
    max-width: 100%;
    border-left: 1px solid #e2e0e0;
    border-right: 1px solid #e2e0e0;
  }
  td:before {
    content: attr(data-label);
    display: inline-block;
    line-height: 1.5;
    white-space: nowrap;
    margin-right: 40%;
    color: #857e90;
  }
  table tr:nth-last-child(-n+1) td {
    border-bottom: 1px solid #e2e0e0;
  }
  table td:nth-child(4n) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  table td:nth-child(1) {
    border-top: 1px solid #e2e0e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  table td {
    display: flex;
  }
  table td:before {
    display: block;
    margin-right: 0;
    width: 40%;
  }
  table td div {
    display: block;
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .sub-nav {
    flex-direction: column;
    align-items: inherit;
    border-bottom: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .sub-nav input:nth-child(1) {
    border: 1px solid #e2e0e0;
    border-bottom: 1px solid #e2e0e0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .sub-nav input:nth-child(2) {
    border-left: 1px solid #e2e0e0;
    border-right: 1px solid #e2e0e0;
    border-bottom: 1px solid #e2e0e0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .sub-nav .button-menu:nth-child(2):hover {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .sub-nav #activeButton {
    border-bottom: 1px solid #e2e0e0;
    background-color: #f3f5f7;
  }
}
@media screen and (max-width: 550px) {
  .cancel-message {
    max-width: 20rem;
    margin-bottom: 175px;
  }
  #cancel-box {
    max-width: 20rem;
  }
}
@media screen and (max-width: 490px) {
  .button-menu {
    font-size: 12px;
    padding: 0.4rem 1rem;
  }
}
@media screen and (max-width: 450px) {
  table td:before {
    width: 40%;
  }
  table td div {
    width: 60%;
  }
}
